name: 'Compile glibc'

#  Temporarily disable automatic triggering to limit LFS usage while we catch up with building past versions,
#  to reduce LFS usage so we don't hit the 10GB per month limit
#on:
#  workflow_dispatch:
#  push:
#    branches:
#      - master
#    paths:
#      - .github/workflows/compile-glibc.yml
#      - glibc-versions.yml
#      - glibc/*.tar.gz

concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: false


jobs:

  find-uncompiled-version:
    runs-on: ubuntu-latest
    outputs:
      compile_required: ${{ steps.parse.outputs.compile_required }}
      amd64_required: ${{ steps.parse.outputs.amd64_required }}
      arm64_required: ${{ steps.parse.outputs.arm64_required }}
    steps:
      - uses: actions/checkout@v4

      - id: parse
        name: Parse glibc-versions.yml
        run: |
          VERSIONS=$(cat glibc-versions.yml | yq '.versions[].glibcVersion')
          for VERSION in ${VERSIONS[@]}; do
            AMD64_FILENAME="./glibc/glibc-bin-${VERSION}-x86_64.tar.gz"
            ARM64_FILENAME="./glibc/glibc-bin-${VERSION}-aarch64.tar.gz"
            if [ -f "${AMD64_FILENAME}" ] && [ -f "${ARM64_FILENAME}" ]; then
              echo "Version ${VERSION} already exists in ${AMD64_FILENAME} and ${ARM64_FILENAME}"
            else
              echo "Version ${VERSION} has not been compiled for both architectures yet"
              echo "compile_required=${VERSION}" > ${GITHUB_OUTPUT}
              [ -f "${AMD64_FILENAME}" ] || echo "amd64_required=${AMD64_FILENAME}" >> ${GITHUB_OUTPUT}
              [ -f "${ARM64_FILENAME}" ] || echo "arm64_required=${ARM64_FILENAME}" >> ${GITHUB_OUTPUT}
              break
            fi
          done


  compile-glibc-amd64:
    needs: find-uncompiled-version
    if: needs.find-uncompiled-version.outputs.compile_required != '' && needs.find-uncompiled-version.outputs.amd64_required != ''
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    env:
      VERSION: ${{ needs.find-uncompiled-version.outputs.compile_required }}
      AMD64_FILENAME: ${{ needs.find-uncompiled-version.outputs.amd64_required }}
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true

      - name: Ensure output directory is present
        run: |
          mkdir -p glibc

      - name: Compile glibc for amd64
        run: |
          docker run --rm --env STDOUT=1 sgerrand/glibc-builder ${VERSION} /usr/glibc-compat > ${AMD64_FILENAME}

      - name: Show output amd64 file, determine checksum; update checksum in glibc-versions.yml; git add
        run: |
          ls -l ${AMD64_FILENAME}
          SHA512=$(sha512sum ${AMD64_FILENAME} | awk '{ print $1 }')
          echo "sha512sum for ${AMD64_FILENAME} is ${SHA512}"
          yq e '(.versions[] | select(.glibcVersion == "'"$VERSION"'") | .amd64sha512sum) = "'"$SHA512"'"' -i glibc-versions.yml
          git add ${AMD64_FILENAME} glibc-versions.yml
          git status
          git diff --cached

      - name: Submit new glibc tarball & its checksum via PR
        uses: peter-evans/create-pull-request@v6
        with:
          title: "Add amd64 glibc bin for ${{ env.VERSION }}, compiled by Github Actions"
          branch: "autogenerated-amd64-glibc-bin-${{ env.VERSION }}"
          body: |
            Automated PR to add the binary amd64 artifact(s) for glibc version ${{ env.VERSION }}.
          labels: automated
          commit-message: "Add amd64 glibc bin for ${{ env.VERSION }}, compiled by Github Actions"


  compile-glibc-arm64:
    needs: find-uncompiled-version
    if: needs.find-uncompiled-version.outputs.compile_required != '' && needs.find-uncompiled-version.outputs.arm64_required != ''
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    env:
      VERSION: ${{ needs.find-uncompiled-version.outputs.compile_required }}
      ARM64_FILENAME: ${{ needs.find-uncompiled-version.outputs.arm64_required }}
    steps:

      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Ensure output directory is present
        run: |
          mkdir -p glibc

      - name: Check out docker-glibc-builder
        uses: actions/checkout@v4
        with:
          repository: sgerrand/docker-glibc-builder
          path: .glibc-builder
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Create up-to-date docker-image for docker-glibc-builder, with arm64 support; remove source directory
        run: |
          cd .glibc-builder
          docker build --platform linux/arm64 -t glibc-builder-arm64 .
          cd ..
          rm -rf .glibc-builder

      - name: Compile glibc for arm64
        run: |
          docker run --rm --env STDOUT=1 glibc-builder-arm64 ${VERSION} /usr/glibc-compat > ${ARM64_FILENAME}

      - name: Show output arm64 file, determine checksum; update checksum in glibc-versions.yml; git add
        run: |
          ls -l ${ARM64_FILENAME}
          SHA512=$(sha512sum ${ARM64_FILENAME} | awk '{ print $1 }')
          echo "sha512sum for ${ARM64_FILENAME} is ${SHA512}"
          yq e '(.versions[] | select(.glibcVersion == "'"$VERSION"'") | .arm64sha512sum) = "'"$SHA512"'"' -i glibc-versions.yml
          git add ${ARM64_FILENAME} glibc-versions.yml
          git status
          git diff --cached

      - name: Submit new glibc tarball & its checksum via PR
        uses: peter-evans/create-pull-request@v6
        with:
          title: "Add arm64 glibc bin for ${{ env.VERSION }}, compiled by Github Actions"
          branch: "autogenerated-arm64glibc-bin-${{ env.VERSION }}"
          body: |
            Automated PR to add the binary arm64 artifact(s) for glibc version ${{ env.VERSION }}.
          labels: automated
          commit-message: "Add arm64 glibc bin for ${{ env.VERSION }}, compiled by Github Actions"


  verify-all-glibc-checksums:
    needs: find-uncompiled-version
    if: needs.find-uncompiled-version.outputs.compile_required == '' && false # TODO temporarily disabled to save LFS usage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true

      - name: Verify all glibc checksums
        run: |
          VERSIONS=$(cat glibc-versions.yml | yq '.versions[].glibcVersion')
          for VERSION in ${VERSIONS[@]}; do
            AMD64_FILENAME="./glibc/glibc-bin-${VERSION}-x86_64.tar.gz"
            ARM64_FILENAME="./glibc/glibc-bin-${VERSION}-aarch64.tar.gz"
            AMD64_SHA512=$(cat glibc-versions.yml | yq '(.versions[] | select(.glibcVersion == "'"${VERSION}"'") | .amd64sha512sum)')
            ARM64_SHA512=$(cat glibc-versions.yml | yq '(.versions[] | select(.glibcVersion == "'"${VERSION}"'") | .arm64sha512sum)')
            if [ -f "${AMD64_FILENAME}" ]; then
              echo "Version ${VERSION} exists in ${AMD64_FILENAME}; validating checksum '${AMD64_SHA512}'..."
              echo "${AMD64_SHA512}  ${AMD64_FILENAME}" | sha512sum --check
            else
              echo "Version ${VERSION} is missing file ${AMD64_FILENAME} - this is unexpected" && false
            fi
            if [ -f "${ARM64_FILENAME}" ]; then
              echo "Version ${VERSION} exists in ${ARM64_FILENAME}; validating checksum '${ARM64_SHA512}'..."
              echo "${ARM64_SHA512}  ${ARM64_FILENAME}" | sha512sum --check
            else
              echo "Version ${VERSION} is missing file ${ARM64_FILENAME}  - this is unexpected" && false
            fi
          done
